@charset "utf-8";
/* CSS Document */

.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2{
	background-color: #4d4dff;
	color: #ffffff;
}
.bg-3{
	background-color: #ff6666;
	color: #ffffff;
}
.bg-4{
	background-color: #ffb84d;
	color: #ffffff;
}
.bg-5{
	background-color: #cccc00;
	color: #ffffff;
}
.bg-6{
	background-color:#b366ff;
	color:#ffffff;
}
	.container-fluid {
    padding-top: 10px;
    padding-bottom: 20px;
}
.parallax {
    /* The image used */
    background-image: url("images/coverpicV2.jpg");

    /* Set a specific height */
    height: 70%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html {
    height: 100%;
}
